*{
  text-align: center;
}

table{
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-collapse: collapse;
  background-color: green;
  border-bottom: 1px green solid;
  font-size: 8px;
}
th{
  font-size: 7px;
}
thead{
  color: white;
  
}

tbody{
  background-color: white;
}

.SecondRow{
  background-color: lightgrey;
  color: green;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;

}
